./target
./.classpath
./.project
./.settings

facehunt-android/target
facehunt-android/.classpath
facehunt-android/.project
facehunt-android/.settings
facehunt-android/libs/
facehunt-android/.externalToolBuilders/
facehunt-android/gen/

facehunt-core/target
facehunt-core/.classpath
facehunt-core/.project
facehunt-core/.settings

facehunt-desktop/target
facehunt-desktop/.classpath
facehunt-desktop/.project
facehunt-desktop/.settings

